<div class="card">
    <div style="background-color:rgb(240, 232, 228); text-align: center">
        <h1>SALOMON.STUDIO</h1>        
        <h2 style="color:rgb(43, 153, 226)"> Sistema Estudios Júridicos</h2>
            <h4>Acerca de:</h4>
         <h5>Sistema de Cargas de Expedientes, Clientes, Honorarios y Abogados</h5>
         <p>Posibilidad de realizar estadisticas precisas y detalladas</p>
         <img style="" width="200" src="/css/img/GarciayAsociadosrv.png"/> 
    </div>
    {{!-- <img style="" width="300" src="https://seeklogo.com/images/M/Municipalidad_de_Corrientes-logo-8D9456EA42-seeklogo.com.png"/>     
    <img style="" width="300" src="http://localhost:8080/views/css/img/GarciayAsociados.jpg"/>--}}
      
    <p></p>
</div>


