{{!-- <h1> INDEX </h1> --}}


<div class="">
  <div style="text-align: center">
    <h1 style="font-family:Fantasy; color: rgb(133, 133, 127); text-shadow: 2px 2px 2px rgb(46, 43, 43) "
      class="display-5"> SISTEMA INTEGRAL PARA ABOGADOS</h1>
    {{!-- <p class="lead">A simple App to manage Intimaciones/Infracciones developed with Nodejs, Express,
      Mongodb and Javascript Technologies</p>
    <hr class="my-4">
    <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis
      doloribus! Deleniti sunt cum ad est atque. Esse earum
    </p> --}}
    {{!-- <img style="border-radius:80px;"
      src="https://lebonartisan.cdn.prismic.io/lebonartisan/4cfbefe2fee7f4e3e94797b2505c3f1b0b728455_maitre-douvrage.jpg"
      width="550" height="270"></a> --}}
    <img style="border-radius:70px; box-shadow: 5px 5px 5px black;" width="470" height="370"
      src="/css/img/LogoAbogadosa.jpg" />
    {{!-- <img src={require('./images/constructor.jpg')} width="550" height="280" /> --}}
    </br>
    <div style="text-align: center">   
      <div class="mt-4 pt-3">
            <p  style="text-shadow: #000000; color: grey">Plataforma utilizada por:</p>
            {{! Image width maintained at 200px, styled for better integration }}
            <img style="border-radius:30px; box-shadow: 5px 5px 5px black; background-color: white" width="200" src="/css/img/GarciayAsociadosrv.png" alt="Logo de García y Asociados"
                />
        </div>     
      {{!--<iframe
        style="width:300px;height:260px;border-radius:5px;box-shadow:2px 3px 3px rgb(0 0 0 / 25%);justify-content:center;border:1px solid #bcbcbc"
        src="https://dolarhoy.com/i/cotizaciones/dolar-blue" frameborder="0"> 
        <p></p>
        <p>--------</p>
      </iframe>      --}}
    </div>
  </div>
  </br>
  {{!-- <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Register</a> --}}
</div>