<script>
    //const {ponerminuscula} = require('./funciones/importantes.js');
    //import ponerminuscula from './funciones/importantes.js' 
    //src="./funciones/importantes.js" type="module"
    //import {ponerminuscula} from "./funciones/importantes.js.

    //function ShowName() {
    //   var writtenName = ""
    //   writtenName = document.getElementById('iniciadornomyape').value;
    //   document.getElementById('iniciadornomyape').value = formatToString(writtenName);
    //   writtenName = document.getElementById('fiduciariopropsocio').value;
    //   document.getElementById('fiduciariopropsocio').value = formatToString(writtenName);
    //   writtenName = document.getElementById('direcfiduciariopropsocio').value;
    //   document.getElementById('direcfiduciariopropsocio').value = formatToString(writtenName);
    //   writtenName = document.getElementById('directorobraoperitovisor').value;
    //  document.getElementById('directorobraoperitovisor').value = formatToString(writtenName);
    //   writtenName = document.getElementById('destinoobra').value;
    //   document.getElementById('destinoobra').value = formatToString(writtenName);        
    //}

    function ShowName(name) {
        var writtenName = ""
        writtenName = document.getElementById(name).value;
        document.getElementById(name).value = formatToString(writtenName);
    }

    function formatToString(writtenName) {
        var tmp = writtenName.split(" ");
        var fullName;
        tmp.forEach(element => {
            if (fullName) {
                fullName = fullName + " " + element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            } else {
                fullName = element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            }
        })
        return fullName;
    }

    function ponerMayuscula(mayu) {
        let ex = document.getElementById(mayu);
        ex.value = ex.value.toUpperCase();
        //let ex = document.getElementById("numexpediente");
        //ex.value = ex.value.toUpperCase();
        //let y = document.getElementById("adremaexp");
        //y.value = y.value.toUpperCase();
    }


    function ponerminuscula(minus) {
        let ex = document.getElementById(minus);
        ex.value = ex.value.toLocaleLowerCase();
        //let ex = document.getElementById("correofiduciariopropsocio");
        //ex.value = ex.value.toLocaleLowerCase();
    }
</script>

<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="car-header mx-auto">
            <br />
            <h3 style="color:blue; text-decoration:underline; font-weight: bold;">Nuevo Expediente</h3>
        </div>
        <div class="card-body">
            <p style="color:red">Obligatorio</p>
            <form action="/notes/newexpedientes" method="POST">
                <div class="form-group">
                    IdCliente:
                    <input id="juzgado" type="text" name="juzgado" class="form-control" placeholder="{{expedientes._id}}" disabled>
                </div>
                <div class="form-group">
                    Nombre y Apellido Cliente:
                    <input id="nyacliente" type="text" name="nyacliente" class="form-control" placeholder="{{expedientes.nyacliente}}">
                </div>
                <div class="form-group">
                    dnicliente:
                    <input id="dnicliente" type="text" name="dnicliente" class="form-control" placeholder="{{expedientes.dnicliente}}">
                </div>
                <div class="form-group">
                    Juzgado:
                    <input id="juzgado" type="text" name="juzgado" class="form-control" placeholder="Juzgado">
                </div>
                <div class="form-group">
                    Secretaría:
                    <input id="secretaria" type="text" name="secretaria" class="form-control" placeholder="Secretaría">
                </div>
                <div class="form-group">
                    Expediente Nº:
                    <input onkeyup="ponerMayuscula('numexpediente')" id="numexpediente" type="text" name="numexpediente"
                        class="form-control" placeholder="Expediente Nº" autofocus>
                </div>
                <div class="form-group">
                    Tipo:
                    <input id="tipo" type="text" name="tipo" class="form-control" placeholder="Tipo">
                </div>
                <div class="form-group">
                    Ultima Notificación:
                    <input type="date" id="ultimanotificacion" name="ultimanotificacion" class="form-control"
                        placeholder="Ultima Notificación" />
                </div>
                <div class="form-group">
                    Partes:
                    <input onkeyup="ShowName('partes')" type="text" id="partes" name="partes" class="form-control"
                        placeholder="Partes" />
                </div>
                <div class="form-group">
                    Estado:
                    <input type="text" onkeyup="ponerMayuscula('estado')" id="estado" name="estado" class="form-control"
                        placeholder="Estado"></input>
                </div>
                <div class="form-group">
                    Foto de expediente:
                    <input type="text" name="fotoexpediente" class="form-control" placeholder="Foto de Expediente"
                        disabled></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
                <div class="form-group">
                    <p style="color:blue; font-style:oblique; font-weight: bold;"><a href="/expedientes/listado"><i
                                class="fas fa-list" style='font-size:24px;color:black'></i></a> Volver Listado</p>
                </div>
            </form>
        </div>
    </div>
</div>